body {
  background-color: #3cdbc0;
  font-family: "Rubik", sans-serif;
  --menu-text-color: #4a4a4a;
  --main-text-color: #ffffff;
}

.fixed-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 155px;
}

.main {
  width: 100vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  color: var(--menu-text-color);
}

.main-text {
  font-size: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.caja {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 50px 10px;
  font-size: 16px;
  --main-bg-color: brown;
}
