* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Rubik", sans-serif;
  --menu-text-color: #4a4a4a;
  --main-text-color: #ffffff;
}

.fixed-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 155px;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
}

.h1-main-text {
  font-size: 30px;
  text-align: center;
  color: var(--main-text-color);
  width: 11ch;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 13px;
  color: var(--menu-text-color);
}

.link {
  text-transform: uppercase;
}

.menu {
  display: flex;
  font-size: 16px;
  width: 100%;
  --main-bg-color: var(--menu-text-color);
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .h1-main-text {
    font-size: 40px;
  }

  .fixed-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
  }
}
